/*.container div, .container, section, span {*/
/*    border: black 1px solid;*/
/*}*/

body {
    font-family: 'Roboto', sans-serif;

}

button {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  transition: all 0.3s;
}
button:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
button::after {
  background-color: rgba(255,255,255,0.2);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
  transform: scale(1.2,1.2);
}
button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.container {
    height: 100%;
    min-width: 576px;
    max-width: 1440px;
    background: #F2F4F5;
    padding: 0;
}
.section1 {
    position: relative;
    background-image: url(img/Rectangle94.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:833px;
}

.section1 .row-h1 {
    width: 35%;
    margin: 0px auto;
    text-align: center;
}

.section1 .rowbtn {
    margin-left: auto;
    margin-right: auto;
    width: 408px;
    height: 76px;
    border-radius: 25px;
    background: #257FC2;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 42px;
    border: none;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.section1 .row-arrow {;
    margin: 0px auto;
}
.section1 .arrow {
    height: 96px;
    margin-top: 2%;
}


.section1 .logo1-svg {
    position: absolute;
    top: 0px;
    left: 54px;
    width: 316px;
    height: 105px;
}

.section1 .row {
    margin: 0px auto;
    justify-content: flex-end;

}

.section1 .nav {
    width: 100%;

}


.section1 .row, .section2 .row {
    margin: 0px auto;
}


.section1 .row ul li {
    list-style: none;
}

.section1 .row ul li .pb{
    font-size: 24px;
    color: #666E78;
    width: 97px;
    height: 63px;
    background:transparent;
    border: none;
    font-weight: 400;
}

.section1 .row ul li .sing{
    width: 97px;
    height: 63px;
    border-radius: 20px;
    background-color: #257FC2;
    font-size: 24px;
    color: #fff;
    border: none;
    font-weight: 400;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.section1 .row ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-top: 18px;
}

.section1 .zagolovok {
    margin-top: 180px;
}

.section1 .zagolovok h1 {
    font-size: 64px;
    font-weight: 500;
    color: #257FC2;
}

.section1 .zagolovok p {
    font-size: 22px;
    font-weight: 400;
    color: #666E78;
    margin-bottom: 0px;
}

.section2 .video-text {
    width: 28%;
    margin: 0px auto;
    text-align: center;
}

.section2 .video-text h4 {
    font-size: 36px;
    font-weight: 500;
    color: #257FC2;
    margin-top: 80px;
}

.section2 .video-text p {
    font-size: 24px;
    font-weight: 400;
    color: #929090;
}

.section2 .video-content {
    max-width: 750px;
    min-width: 576px;
    max-height: 425px;
    margin: 5% auto 0 auto;
    text-align: center;
}

.section3 .row {
    margin: 0px auto;
}

.section3 .try-visto {
    height: 194px;
    background-image: url(img/Rectangle33.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 3%;
    z-index: 2;
}

.section3 .row .btn-try-visto {
    margin: 0px auto;
    width: 460px;
    height: 76px;
    border-radius: 25px;
    background: #FCBF1B;
    border: none;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.section3 .row .btn-try-visto h4 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
}

.section3 .who-using {
    width: 43%;
    margin: 0px auto;
    text-align: center;
}

.section3 .who-using h4 {
    font-size: 36px;
    font-weight: 500;
    color: #257FC2;
    margin-top: 90px;
}

.section3 .who-using p {
    font-size: 24px;
    font-weight: 400;
    color: #929090;
}

.section3 .img-using {
    padding-top: 4%;
    padding-bottom: 8%;
}

.section3 .img-using img{
    display: block;
    max-width: 957px;
    min-width: 576px;
    max-height: 839px;
    min-height: 458px;
    margin: 0px auto;
}

.section4 {
    position: relative;
    z-index: 2;
}

.section4 .row {
    margin: 0px auto;
}

.section4 .product-text {
    width: 56%;
    margin: 0px auto;
    text-align: center;
}

.section4 .product-text h4 {
    font-size: 36px;
    font-weight: 500;
    color: #257FC2;
    margin-top: 90px;
}

.section4 .product-text p {
    font-size: 24px;
    font-weight: 400;
    color: #929090;
    margin-bottom: 10%;
}

.section4 .product-portfolio {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section4 .product-portfolio .product1, .product3 {
    max-width: 305px;
    /*max-height: 582px;*/
    margin: 3% 3%;
}

.section4 .product1 .ss, .product3 .ss {
    font-weight: 500;
    font-size: 36px;
    color: #257FC2;
    margin-bottom: 8%;
}

.section4 .product1 .pr, .product3 .pr {
    font-weight: 700;
    font-size: 36px;
    color: #1B2A4E;
    margin-bottom: 15%;
}

.section4 .product1 p, .product3 p {
    font-weight: 400;
    font-size: 24px;
    color: #666E78;
    width: 78%;
    margin: 0px auto 20% auto;
}

.section4 .product2 {
    max-width: 338px;
    /*max-height: 625px;*/
    margin: 3% 3%;
}

.section4 .product2 .ss {
    font-size: 40px;
    font-weight: 500;
    color: #257FC2;
    margin-bottom: 10%;
    margin-top: 5%;
}

.section4 .product2 p {
    font-size: 26px;
    font-weight: 400;
    color: #666E78;
    width: 75%;
    margin: 0px auto 20% auto;
}

.section4 .product2 .pr {
    font-size: 48px;
    font-weight: 700;
    color: #1B2A4E;
    margin-bottom: 10%;
}



.section4 .product1 .btn-secondary, .section4 .product3 .btn-secondary {
    background-color: #257FC2;
    border-color: #257FC2;
    border-radius: 16px;
    padding: 5% 20% 5% 20%;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

.section4 .product1 .dropdown-toggle:hover, .product2 .dropdown-toggle:hover, .product3 .dropdown-toggle:hover {
    transform: scale(1.02,1.02);
}

.section4 .product2 .btn-secondary {
    background-color: #3A474E;
    border-color: #3A474E;
    border-radius: 16px;
    padding: 5% 20% 5% 20%;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

.section4 .product-portfolio a {
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
}

.section4 .product1, .product2, .product3 {
    background-color: #ffffff;
    padding: 1%;
    border-radius: 20px;
}

.section4 .dropdown-menu .dropdown-item {
    color: #666E78;
}

.footer {
    position: relative;
    /*min-height: 576px;*/
    background-image: url(img/Rectangle29.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 14%;
}

.footer .row{
    margin: 0px auto;
}

.footer .row-1 {
    display: flex;
    justify-content: center;
}


.footer .location {
    width: 30px;
    height: 33px;
}

.footer .mail {
    width: 30px;
    height: 27px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.footer .phone {
    width: 30px;
    height: 26px;
}

.footer ul p {
    margin-bottom: 0;
    margin-left: 4%;
    min-height: 72px;
    justify-content: center;
}

.footer .row-1 ul li {
    display: flex;
    align-items: center;
}

.footer .col-sm-2 {
    flex-basis: 12%;
}

.footer .col-sm-3 {
    flex-basis: 42.6%;
}

.footer .col-sm-3, .col-sm-2 {
    margin: 0;
    padding: 0;
}

.footer .col-sm-3 h4, .col-sm-2 h4 {
    font-size: 24px;
    font-weight: 500;
    color: #232323;
}

.footer .col-sm-3 h5, .col-sm-3 li, .col-sm-2 h5 {
    font-size: 24px;
    font-weight: 400;
    color: #77848C;
    margin-bottom: 0;
    list-style: none;
}

.footer .row-2 {
    margin-top: 3%;
}

.footer .row-2 ul li {
    list-style: none;
    margin-left: 2%;
    margin-right: 2%;
}

.footer .row-2 ul {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0px auto;
}

.footer .row-2 img {
    width: 44px;
    height: 39px;
}

.footer .row-3 {
    text-align: center;
}

.footer .row-3 h5 {
    font-size: 24px;
    font-weight: 400;
    color: #929090;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer .row-1 .col-sm-3 h4 {
    text-align: left;
}

/*.footer .col-sm-3 {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/

.footer .col-sm-3 ul {
    padding-inline-start: 0;
}

.footer .footer-img2 {
    position: absolute;
    bottom: 1%;
    left: 54px;
    width: 316px;
    height: 105px;
}

/*.footer .footer-img1 {*/
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    left: 0px;*/
/*    right: 0px;*/
/*}*/
/*.rectangle94 {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*}*/
